.pagination .page-item .page-link{
    color: #B72626;
}

.active>.page-link, .page-link.active {
    color: white !important;
    background-color: #B72626;
    border-color: rgba(255, 149, 81, 0.35);
}

.page-link:focus,.page-link:active {
    outline: #B72626 !important;
    box-shadow: #B72626 !important;
    border-color: #B72626 !important;
}

.btn-tambah{
    background-color: #B72626;
    color: white;
}

.btn-tambah:hover{
    background-color: #950101;
    color: white;
}

.btn-tambah:focus, .btn-tambah:active{
    background-color: #950101 !important;
    color: white !important;
}

.paginate *{
    font-size: 13px;
}